/* To Do: */
/* styles for the divs in the different containers. */

body {
    background-image: url(../images/star-wars-rise-of-skywalker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: 'Audiowide', cursive;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 200%;

}

h3 {
    text-align: center;
    font-size: 125%;
}

button {
    padding: 20px;
    background-color: black;
    color: white;

}

#fight-section,
#defender,
#enemies,
#select-character,
#your-character,
#fight-ticker {
    text-align: center;

}

img {
    height: 100px;
    margin: 5px;

}

.character {
    display: inline-block;
    margin: 5px;
    /*border: 1px solid white; for testing / formating*/    
    padding: 5px;

}

.enemy {
    /* background-image: url(../images/red-lightning.jpg);
    background-size: 100%; */
    display: inline-block;
    margin: 5px;
    padding: 5px; 

}

.hero {
    /* background-image: url();
    background-size: 100%; */
    display: inline-block;
    margin: 5px;
    padding: 5px; 

}

#scoreBox{
    position: fixed;
    top: 0px;
    right: 0px;
    flex-direction: column;
    min-width: 0;
    margin: 5px;
    text-align: right;

}
